a:hover {
    color: #28aca7;;
}
html,body {
background: url(background.jpg) no-repeat center center fixed;
-webkit-background-size: cover; /* For WebKit*/
-moz-background-size: cover;    /* Mozilla*/
background-size: cover;         /* Generic*/
}
#maintext {
	background-color: white;
	border-radius: 25px;
}
h4 {
	text-align: center;
}
#activeTitle {
	color: white;
}